.app__container {
  max-width: 95vw;
  padding: 2.5rem 1.5rem;
  width: 480px;
  height: 100dvh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @media screen and (min-width: 1440px) {
    width: 580px;
    gap: 1.5rem;
  }
}

/*! ======================!HEADER CSS */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--col-text-main);
}

.logo {
  font-size: 2rem;

  @media screen and (min-width: 1440px) {
    font-size: 3.5rem;
  }
}

.theme__text {
  font-size: 14px;
  letter-spacing: 2px;
  @media screen and (min-width: 1440px) {
    font-size: 1.2rem;
  }
}

.header__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* !============================== TOGGLE SWITCH */
.toggle {
  display: flex;
  width: 80px;
  height: 30px;
  position: relative;
  border-radius: 50px;
  background-color: var(--col-bg-toggle);
  inset: 0;
  cursor: pointer;

  @media screen and (min-width: 1440px) {
    width: 100px;
    height: 40px;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & span:last-child {
    border-radius: 0 50% 50% 0;
  }

  & span:nth-child(4) {
    border-radius: 50% 0 0 50%;
  }
}

.toggle__switch {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--col-toggle);
  transition: all 0.5s;

  @media screen and (min-width: 1440px) {
    top: 5px;
    width: 30px;
    height: 30px;
  }
}

.toggle__switch.left {
  left: 5px;
}

.toggle__switch.center {
  left: 50%;
  transform: translateX(-50%);
}

.toggle__switch.right {
  left: auto;
  right: 5px;
}

.toggle__label {
  position: absolute;
  top: -100%;
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 1440px) {
    top: -70%;
    font-size: 18px;
  }
}

.toggle__Section {
  width: 33%;
  z-index: 1000;
}

/* !===============Screen */
.screen {
  background-color: var(--col-bg-keypad);
  height: 100px;
  border-radius: var(--rounded);
  margin-top: 1rem;
  color: var(--col-text-main);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: end;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    height: 140px;
    gap: 2rem;
  }
}

.screen__top {
  text-align: right;
  font-size: 14px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}

.screen__main {
  max-width: 100%;
}

.screen__value {
  max-width: 100%;
  text-align: end;
  overflow: hidden;
  /* direction: rtl; */
  font-size: 2.5rem;
}
/* !=======================KEYPAD ================= */
.keypad {
  background-color: var(--col-bg-keypad);
  border-radius: var(--rounded);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: 1rem;
}

.key {
  display: flex;
  width: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--col-key-main);
  color: var(--col-text-dark);
  padding: 16px 8px;
  font-size: 32px;
  border-radius: 8px;
  font-weight: 700;
  @media screen and (min-width: 1440px) {
    padding: 18px 8px;
  }

  outline: none;
  border: none;
  box-shadow: 0 5px 2px var(--col-sd-main);
  transition: all 0.3s;
}

.key:hover {
  filter: brightness(150%);
}

.key:active {
  transform: translateY(3px);
  box-shadow: none;
}
.span-2 {
  grid-column: span 2;
}

.key-gray {
  font-size: 20px;
  background-color: var(--col-key-del);
  color: var(--col-text-light);
  box-shadow: 0 5px 2px var(--col-sd-del);
}

.key-equal {
  background-color: var(--col-key-equal);
  color: var(--col-text-light);
  box-shadow: 0 5px 2px var(--col-sd-equal);
}
